[submodule "packaging/homebrew-mdemg"]
	path = packaging/homebrew-mdemg
	url = https://github.com/reh3376/homebrew-mdemg.git
[submodule "packaging/autoresearch"]
	path = packaging/autoresearch
	url = https://github.com/reh3376/autoresearch.git
